{% embed '@common_design/cd/cd-header/cd-ocha.html.twig' %}

  {% block related_platforms %}
    <li class="cd-ocha-dropdown__link"><a href="https://cbpf.unocha.org" target="_blank">{{ 'CBPF Grant Management system'|t }}</a></li>
    <li class="cd-ocha-dropdown__link"><a href="https://pfdata.unocha.org" target="_blank">{{ 'Pooled Fund Data Hub'|t }}</a></li>
    <li class="cd-ocha-dropdown__link"><a href="https://cerf.data.unocha.org/" target="_blank">{{ 'CERF Data Hub'|t }}</a></li>
    <li class="cd-ocha-dropdown__link"><a href="https://cbpf.data.unocha.org" target="_blank">{{ 'CBPF Data Hub'|t }}</a></li>
    <li class="cd-ocha-dropdown__link"><a href="https://gms.unocha.org/content/home" target="_blank">{{ 'GMS Help portal'|t }}</a></li>
  {% endblock %}

{% endembed %}