<div class="cd-site-header">
  <div class="cd-container cd-site-header__inner">

    {% include '@gms_ocha_common/cd/cd-header/cd-logo.html.twig' %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="cd-site-logo">
      <img src="{{ site_logo }}" alt="{{ site_name }}" aria-label="{{ 'Home'|t }}" width="100%" height="60px" />
    </a>
    <div class="cd-site-header__actions">

      {% if page.header_search %}

        {% include '@common_design/cd/cd-header/cd-search.html.twig' %}

      {% endif %}

      {% include '@common_design/cd/cd-header/cd-navigation.html.twig' %}

    </div>
  </div>
</div>
